*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
  font-weight: normal;
}

a, button {
  text-decoration: none;
  font-size: 2rem;
  font-family: sans-serif;
  color: #FFFFFF !important;
}

li {
  list-style: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%;
  background-color: #00204F;
}
.header__nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #00204F;
}
.header__menu-line {
  display: flex;
  flex-direction: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
.header a {
  text-decoration: none !important;
  color: rgba(255, 255, 255, 0.9) !important;
}
.header__title-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url("../../img/fond.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.header__title {
  text-transform: uppercase !important;
  text-shadow: #FFFFFF !important;
}
.header__description {
  font-size: 3rem !important;
}

.menu-bar {
  display: none !important;
}

@media screen and (max-width: 1000px) {
  .menu-bar {
    display: block !important;
  }
}
.logo {
  display: block;
  width: 40px;
  height: 40px;
}

.border {
  border: 1px;
}
.border--circle {
  border-radius: 100%;
}
.border--white {
  border-style: solid;
  border-color: #C2DAFF;
  border-width: 2px;
}
.border--radius15 {
  border-radius: 15px;
}

.text {
  font-family: "Exo 2", sans-serif;
  font-size: 1.7rem;
}
.text--white {
  color: #FFFFFF !important;
}
.text--black {
  color: #000 !important;
}
.text--blue {
  color: #00204F !important;
}
.text--huge {
  font-size: 7rem !important;
}
.text--medium {
  font-size: 5rem !important;
}
.text--normal {
  font-size: 3rem !important;
}
.text--tiny {
  font-size: 1rem !important;
}
.text--centered {
  text-align: center;
}
.text--colored {
  color: rgba(240, 123, 45, 0.8) !important;
}

.button {
  background: none;
  border-radius: 25px;
  padding: 20px;
  color: #FFFFFF;
  cursor: pointer;
}
.button--border-white {
  border: 3px solid #FFFFFF;
}
.button--border-black {
  border: 3px solid #000;
}
.button--border-grey {
  border: 3px solid grey;
}
.button--border-colored {
  border: 3px solid rgba(240, 123, 45, 0.8);
}
.button--border-none {
  border: none;
  border-bottom: 2px solid rgba(240, 123, 45, 0.8);
}
.button__huge {
  width: 15%;
}
.button__small {
  width: 10%;
}

.image {
  display: inline-block;
}
.image--carre-small {
  width: 12%;
  height: 12%;
}
.image--carre-medium {
  width: 80%;
  height: 80%;
}
.image--opacity {
  opacity: 0.9;
}

.link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 15%;
}

.section {
  width: 100%;
  padding: 20px;
  overflow-x: hidden;
}
.section--column-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.section--column-centered {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.section--column-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.section--row-right {
  display: flex;
  align-items: flex-start;
}
.section--row-centered {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.section--row-left {
  display: flex;
  align-items: flex-end;
}
.section--background-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
}
.section__title {
  text-align: center;
  font-size: 3rem;
  width: 100%;
  color: #000 !important;
}

.progressbar {
  width: 350px;
  height: 5px;
  background-color: aliceblue;
  border-radius: 10px;
}
.progressbar__25 {
  width: 25%;
}
.progressbar__50 {
  width: 50%;
}
.progressbar__75 {
  width: 75%;
}
.progressbar__100 {
  width: 100%;
}
.progressbar__white {
  background-color: #FFFFFF !important;
}
.progressbar__blue {
  background-color: #00204F !important;
}

.container {
  padding: 10px;
  border-radius: 10px;
}
.container--black {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), #FFFFFF;
  width: 35vw;
  height: 35vh;
}
.container--border {
  border: 2px solid #000;
}
.container--shadow {
  box-shadow: 5px 5px 2px 1px rgba(240, 123, 45, 0.8);
}
.container--shadow-arround {
  box-shadow: 1px 1px 2px 4px rgba(240, 123, 45, 0.8);
}
.container--clear {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), #FFFFFF;
  width: 40%;
}

.card {
  border: 4px solid rgba(240, 123, 45, 0.8) !important;
  padding: 1%;
  width: 40%;
}
.card__title {
  text-align: center;
}
.card--shadow {
  box-shadow: 1px 1px 1px 1px #000;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
