.button{
    background: none;
    border-radius: 25px;
    padding: 20px;
    outline: none;
    
    color: $color-white;
    cursor: pointer;

    &--border-white{
        border: 3px solid $color-white;
    }

    &--border-black{
        border: 3px solid $color-black;
    }

    &--border-grey{
        border: 3px solid grey;
    }

    &--border-colored{
        border: 3px solid $color-shadow-second;
    }

    &--border-none{
        border: none;
        border-bottom: 2px solid $color-shadow-second;
    }
    &:hover{
        animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        border-color: $color-white;
        background-color: $color-shadow-second;
    }
    &:active{
        animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    &__huge{
        width: 15%;
    }

    &__small{
        width: 10%;
    }

}

@keyframes shadow-drop-center {
    0% {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }

  @keyframes shadow-drop-2-center {
    0% {
      transform: translateZ(0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      transform: translateZ(50px);
      box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
  