.button{
    background: none;
    border-radius: 25px;
    padding: 20px;
    border: 3px solid $color-white;
    color: $color-white;
    cursor: pointer;

    &:hover{
        
    }

    &__huge{
        width: 15%;
    }

}