.card{    
    border: 4px solid $color-shadow-second !important;
    padding: 1%;
    width: 40%;

    &__title{
        text-align: center;
    }

    &--shadow{
        box-shadow: 1px 1px 1px 1px $color-black
    }
}