.container {
  padding: 4%;   
  border-radius: 10px;
  width: 35vw;
  height: 50vh;

  &--black {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(23,45, 0, 0.2)), white
    ;  
    
  }

  &--border{
    border: 2px solid $color-black ;
  }

  &--shadow {
    box-shadow: 5px 5px 2px 1px $color-shadow-second;
  }

  &--shadow-arround {
    box-shadow: 1px 1px 2px 4px $color-shadow-second;
  }

  &--clear {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
      $color-white;
    width: 40%;
  }
}

@include breakpoint(tablet){
  .container{
    width: 50%;
    height: 50%;
  }
}
