.form{
    @include flex-set(column,space-around,center);
    height: 70vh;
    width: 80vw;

    &__field{
        @include flex-set(column,space-around,flex-start);
        width: 50%;  
    }

    &__input,&__textarea {
        width: 100%;
        border-radius: 5px;
        border: none;
        font-size: 3rem;
        padding-top: 5px;        
        border-top-style: none;
        border-left-style: none;
        border-right-style: none;
        border-bottom: 1px solid grey;
        background: none;  
    }

    &__input:focus,&__textarea:focus{
        outline: none;
    }

}