.header {
  @include flex-set(row, space-between, center);
  padding: 20px;
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%;

  background-color: $color-fond;

  &__nav-container {
    @include flex-set(row, space-between, center);
    width: 100%;
    background-color: $color-fond;
  }

  &__menu-line {
    @include flex-set(flex, space-between, center);
    width: 50%;
  }
  a {
    text-decoration: none !important;
    color: rgba(255, 255, 255, .9) !important;
  }
  &__title-container {
    @include flex-set(column, space-between, center);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),
      url("../../img/fond.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    animation: bg-pan-br 30s  both infinite;
  }
  &__title {
    text-transform: uppercase !important;
    text-shadow: $color-white !important;
  }
  &__description {
    font-size: 3rem !important;
  }
}

.menu-bar {
  display: none !important;
}

@media screen and (max-width: 1000px) {
  .menu-bar {
    display: block !important;
  }
}


@keyframes bg-pan-br {
  0% {
    background-position: 0% 0%;
  }

  25% {
    background-position: 25% 25%;
  }
  50% {
    background-position: 50% 50%;
  }
  75% {
    background-position: 75% 75%;
  }
  100% {
    background-position: 100% 100%;
  }
}
