.header {
  @include flex-set(row, space-between, center);
  padding: 20px;
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%;
  background-color: $color-fond;

  &__menu-phone{
    display: none;
  }

  &__nav-container {
    @include flex-set(row, space-between, center);
    width: 100%;
    background-color: $color-fond;
  }

  &__menu-line {
    @include flex-set(flex, space-between, center);
    width: 65%;
  }
  a {
    text-decoration: none !important;
    color: rgba(255, 255, 255, .9) !important;
  }
  &__title-container {
    @include flex-set(column, space-between, center);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),
      url('../../img/fond.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
     animation: bg-pan-br 10s  both infinite;
  }
  &__title {
    text-transform: uppercase !important;
    // text-shadow: $color-white !important;
  }
 
}

@include breakpoint(tablet){
    .header{
       
      position: fixed;      
      &__menu-phone{
        display: block;
        cursor: pointer;
      }

      &__menu-line {
        display: none; 
        
            
      }
      &__nav-container {
        @include flex-set(row, space-between, center);
        width: 100%;
        background-color: $color-fond;
      }

      .show{
        display: block;
        background: transparent ;
        text-align: center;
        @include flex-set(row, space-between, center);
        
      }

      .link span{
        display: none;
      }

      .hide{
        display: none;
      }
    
    }
}

@keyframes bg-pan-br {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}






