.logo
{
    display: block;
    width: 10%;
    height: 10%;
    
    
}

@include breakpoint(tablet){
  .logo{
    // padding: 2px;

    display: none;    
  
  }
}

@include breakpoint(mobile){
    .logo{
      // padding: 2px;
  
      display: none;    
    
    }
  }