.section
{
    width: 100%;
    padding: 20px;
    overflow-x: hidden;

    &--column-right{
        display: flex;
        flex-direction: column;
        align-items:flex-start
    }

    &--column-centered{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    &--column-left{
        display: flex;
        flex-direction: column;
        align-items:flex-end;
    }


    &--row-right{
        display: flex;        
        align-items:flex-start
    }

    &--row-centered{
        display: flex;        
        justify-content: space-around;
        align-items: center;
    }

    &--row-left{
        display: flex;        
        align-items:flex-end;
    }

    &--background-image{      
        // background-color: $color-underline;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.3));
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 0;
    }

    &__title
    {
        text-align: center;
        font-size: 3rem;
        width: 100%;
       color: $color-black !important;
    }   

}