.section
{
    width: 100% !important;   
    padding-bottom: 20px;

    &--padding-top{
        padding-top: 5%;
    }

    &--padding{
        padding:30px  60px;
    }

   

    &--column-right{
        display: flex;
        flex-direction: column;
        align-items:flex-start
    }

    &--column-centered{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    &--column-left{
        display: flex;
        flex-direction: column;
        align-items:flex-end;
    }

    &--background-color{        
        width: 45%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    } 


    &--row-right{
        display: flex;        
        align-items:flex-start
    }

    &--row-centered{
        display: flex;        
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;    
    }

    &--row-left{
        display: flex;        
        align-items:flex-end;
    }

    &--background-image{      
        // background-color: $color-underline;
        background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0,0,0,0.1));
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 0;
       
        
    }

    &__title
    {
        text-align: center;
        font-size: 3rem;
        width: 100%;
       color: $color-black !important;
    }   

}


@include breakpoint(tablet){
    .section{
        width: 100vw;
        height: 100% !important;
        padding: 20px;
        overflow-x: hidden;
        &--row-right{
            display: flex;  
            flex-direction: column;      
            align-items:flex-start
        }
        // &--row-centered{
        //     display: flex;  
        //     flex-direction: column;      
        //     justify-content: space-around;
        //     align-items: center;
        //     flex-wrap: wrap;    
        // }
    
        &--background-color{
            
            width: 90%;
            margin: 2vh 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }

      
    
        &--row-left{
            display: flex;
            flex-direction: column;         
            align-items:flex-end;
        }

        &--hide{
            display: none;
        }
     
    
    }
  }

  