.text {
  font-family: $font;
  font-size: 1.7rem;

  &--white {
    color: $color-white !important;
  }

  &--black {
    color: $color-black !important;
  }

  &--blue {
    color: $color-fond !important;
  }

  &--huge {
    font-size: 7rem !important;
  }

  &--medium {
    font-size: 5rem !important;
  }

  &--normal {
    font-size: 3rem !important;
  }

  &--tiny {
    font-size: 1rem !important;
  }

  &--centered {
    text-align: center;
  }

  &--colored {
    color: $color-shadow-second !important;
  }
}

@include breakpoint(tablet){
  .text{
    // padding: 2px;

    &--huge {
      font-size: 7rem !important;
    }
  
    &--medium {
      font-size: 6rem !important;
    }
  
    &--normal {
      font-size: 4rem !important;
    }
  
    &--tiny {
      font-size: 3rem !important;
    }   
  
  }
}

@include breakpoint(mobile){
  .text{
    // padding: 2px;

    &--huge {
      font-size: 5rem !important;
    }
  
    &--medium {
      font-size: 3rem !important;
    }
  
    &--normal {
      font-size: 2rem !important;
    }
  
    &--tiny {
      font-size: 1rem !important;
    }   
  
  }
}
