html{
    font-size: 62.5%;
    line-height: 1.5;
    font-weight: normal;
    
}

a, button{
    text-decoration: none;
    font-size: 2rem;
    font-family: sans-serif;
    color: $color-white ;
}

li{
    list-style: none;
}
