html{
    font-size: 62.5%;
    line-height: 1.5;
    font-weight: normal;
    
}

a, button{
    text-decoration: none;
    font-size: 2rem;
    font-family: sans-serif;
    color: $color-white !important;
}

li{
    list-style: none;
}

h1, h2, h3, h4 {
	font-weight: 900;
	
}